

.row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.card img {
    height: 20vh;
    margin-bottom: 15px;
}

.card h3 {
    color: #fff;
}

.card button {
    font-size: 1em;
    padding: 10px 16px;
    background-color: #fff;
    border: 1px solid powderblue;
    border-radius: 5px;
}