.contacts-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #1f2535;
}

.row-container {
  width: 90%;
}

h1 {
    font-size: 3.5em;
    color: #fff;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 60%; 
}

.buttons button {
  font-size: 1.2em;
  padding: 10px 16px;
  background-color: #fff;
  border: 1px solid ;
  border-radius: 5px;
}

.row-headers {
  display: flex;
  justify-content: space-between;
  width: 60%;
  color: #fff;
}





