nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #1f2535;
  height: 15vh;
}

nav a {
  font-size: 1.5em;
  color: #fff;
  margin-right: 40px;
  text-decoration: none;
}
